body {
    font-family: Lato;
    font-size: 18px;
    line-height: 1.6;
}

.header{
    background: #5e175b;
    color: #fff;
}
.header h1{
    text-align: center;
    font-size: 40px;
    text-indent: 20px;
 }

a{
    text-decoration: none;
    color: #333;
}

a:hover {
    color: rebeccapurple;
}

a:active{
    color: red;
}

ul{
    list-style-type: none;
    padding: 0;
}

.main-menu{
    background: #f4f4f4;
    text-transform: uppercase;
    text-indent: 10px;
}

p.lead{
    font-size: 20px;
    font-weight: bold;
    color: rebeccapurple;    
}